nav {
  background-color: #8a8a8a;
}

.nav-item:hover {
  background-color: rgb(49, 49, 49);
  border-radius: 10%;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ececec;
}

#gallery {
  background-color: #ececec;
}

footer {
  background-color: #8a8a8a;
}

section {
  padding-top: 5rem;
}

footer a {
  text-decoration: none;
}
